@import url('https://fonts.googleapis.com/css2?family=Redressed&display=swap');

* {
    scroll-behavior: smooth;
  }
  
  .App {
    min-height: 100vh;
    background-color: #4B0082;
    color: white;
    padding-top: 110px;
    padding-bottom: 70px;
  }
  
  @media (max-width: 700px) {
    .app {
      padding-top: 70px;
    }
  }
  
  .pageTitle {
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    font-family: "Redressed", sans-serif;
    font-size: 4vw;
    padding: 4px;
    border-radius: 50px;
    color: white;
  }
  
  @media (max-width: 1000px) {
    .pageTitle {
      font-size: 6.4vw;
    }
  }